<div class="container">
  <div class="row">
    <h1>Blocmark Topics</h1>
    <div align="center">
    <%= link_to "Add a New Topic", new_topic_path, class: 'label label-warning' %>
    </div>


    <% @topics.each do |topic| %>
      <h3><%= link_to topic.title, topic %>
        <small>
          <% if policy(topic).destroy? %>
          <%= link_to "Delete Topic", [@topic, topic], method: :delete, class: 'btn btn-default btn-xs', data: { confirm: 'Are you sure you want to delete this topic?' } %> 
          <% end %>
        </small>
      </h3>
      <br />
        <div class="container">
          <div class="row">
            <% topic.bookmarks.each do |bookmark| %>
              <div class="col-xs-6 col-md-3 thumbnail">
                <%= link_to "#{bookmark.url}" %>
                
              </div>
            <% end %>
          </div>
        </div>
      
        
    <% end %>

  </div>


</div>




