<h1>Your Topics</h1>

<% @topics.each do |topic| %>
  <p><%= link_to topic.title, topic %></p>
  <%= link_to "Delete Topic", @topic, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this topic?' } %> 
<% end %>

<%= link_to "New Topic", new_topic_path, class: 'btn btn-success' %>