<div class="container">
  <div class="row">
    <h1><%= @topic.title %></h1>
    

  </div>

  <br />

  <%= render partial: 'bookmarks/bookmark', locals: { topic: @topic, bookmark: @bookmark } %>

</div>

