<br/>
<div class="jumbotron">
  <h1>Blocmarks</h1>
  <p>So You Don't Forget Where All Those Great Articles Are!</p>
  <p>
      <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %> or 
      <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary' %> today!
  </p>
</div>

<div class="row">
  <div class="col-md-6">
    <h2>Save Your Stuff</h2>
    <p>Blocmarks bookmark whatever you want. No judgement.</p>
  </div>
  <div class="col-md-6">
    <h2>Come Back to it Later</h2>
    <p>Blocmark allows you easy access to all your favorite stuff. Again no judgement.</p>
  </div>
</div>